*{
  box-sizing: border-box;
}
html{
  transition:all 0.5s linear;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
}

.wrapper{
 padding:2rem 5rem;
 background-color: rgb(31, 9, 23);
 color:white;
 border-radius: 2rem;
 max-width:30rem;
 margin: auto;
 height:80rem
}
.card{
  max-width:21rem;
  background-color: rgb(17, 5, 13);
  height:100%
}
.information{
  display: block;text-align: center;
}
.information .image{
  width:100%;
  height:15rem;
  border-radius: 10px 10px 0px 0px ;
}
.information .image img{
  width: 100%;
  border-radius: 10px 10px 0px 0px ;
}
.information .ids{
  margin-top: 1rem;
}
.information .ids span:first-child{
 font-weight: bold;
 font-size: 1.5rem;
}
.information > span {

}
.information .icons{
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
}
.information .icons img{
  width:1rem
}
.information .icons .email,.linkedin{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem 1rem 0.5rem 1rem ;
  color:black;
  background-color: white;
  border-radius: 0.3rem;
   font-weight: bold;
}
.information .icons .email{
  width:6.5rem
}
.information .icons .linkedin{
  width:7.5rem
}
.about {
  padding: 1rem 2rem;
}
.interests {
  padding: 1rem 2rem;
}
.interests ul li{
  list-style-type: none;
  margin:2px;
}
.footer{
  text-align: center;
  margin: auto;
  padding: 1rem 1rem;
  width: 14rem;
}
.footer .icons{
  display: flex;
  justify-content: space-between;
}
.footer .icons img{
  width:2rem;
}
@media screen and (max-width:400px) {
  .information .image img{
      height:15rem;
  }
  .information .icons{
      display:block; 
   }
  .information .icons .linkedin{
      margin-top:1rem
  }
  .footer{
      width: 12rem;
  }
}